@font-face {
  font-family: "Asap-Regular";
  src: url("https://cdn.houseviet.vn/fonts/Asap-Regular.eot?#iefix") format("embedded-opentype"), url("https://cdn.houseviet.vn/fonts/Asap-Regular.woff2") format("woff2"), url("https://cdn.houseviet.vn/fonts/Asap-Regular.woff") format("woff"), url("https://cdn.houseviet.vn/fonts/Asap-Regular.ttf") format("truetype"), url("https://cdn.houseviet.vn/fonts/Asap-Regular.svg#Asap-Regular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Asap-Medium";
  src: url("https://cdn.houseviet.vn/fonts/Asap-Medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.houseviet.vn/fonts/Asap-Medium.woff2") format("woff2"), url("https://cdn.houseviet.vn/fonts/Asap-Medium.woff") format("woff"), url("https://cdn.houseviet.vn/fonts/Asap-Medium.ttf") format("truetype"), url("https://cdn.houseviet.vn/fonts/Asap-Medium.svg#Asap-Medium") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Asap-Bold";
  src: url("https://cdn.houseviet.vn/fonts/Asap-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.houseviet.vn/fonts/Asap-Bold.woff2") format("woff2"), url("https://cdn.houseviet.vn/fonts/Asap-Bold.woff") format("woff"), url("https://cdn.houseviet.vn/fonts/Asap-Bold.ttf") format("truetype"), url("https://cdn.houseviet.vn/fonts/Asap-Bold.svg#Asap-Bold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SFUTradeGothicBoldCondensedTwenty";
  src: url("https://cdn.houseviet.vn/fonts/SFUTradeGothic-BoldCondensedTwenty.eot?#iefix") format("embedded-opentype"), url("https://cdn.houseviet.vn/fonts/SFUTradeGothic-BoldCondensedTwenty.woff2") format("woff2"), url("https://cdn.houseviet.vn/fonts/SFUTradeGothic-BoldCondensedTwenty.woff") format("woff"), url("https://cdn.houseviet.vn/fonts/SFUTradeGothic-BoldCondensedTwenty.ttf") format("truetype"), url("https://cdn.houseviet.vn/fonts/SFUTradeGothic-BoldCondensedTwenty.svg#SFUTradeGothicBoldCondensedTwenty") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "gbnd";
  src: url("../gbnd_font/fonts/gbnd.eot?#iefix") format("embedded-opentype"), url("../gbnd_font/fonts/gbnd.woff") format("woff"), url("../gbnd_font/fonts/gbnd.ttf") format("truetype"), url("../gbnd_font/fonts/gbnd.svg#gbnd") format("svg");
  font-style: normal;
  font-weight: normal;
}

html {
  font-size: 100%;
  @media screen and ( max-width: 450px ) {
    font-size: 62.5%;
  }

}

body {
  font-size: 1rem;
}

h1 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.1875rem;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.fcenter {
  align-items: center;
  align-content: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  height: 100%;
}

.fnowrap {
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  flex-wrap: nowrap;
  -js-display: flex;
  display: -ms-flexbox;
}

.fnAsapRegular {
  font-family: "Asap-Regular",sans-serif;
}

.fnAsapBold {
  font-family: "Asap-Bold",sans-serif;
}

.fnAsapMedium {
  font-family: "Asap-Medium",sans-serif;
}

.fnGothic {
  font-family: "SFUTradeGothicBoldCondensedTwenty", sans-serif;
}

.fn60 {
  font-size: 3.75rem;
}

.fn50 {
  font-size: 3.125rem;
}

.fn40 {
  font-size: 2.5rem;
}

.fn36 {
  font-size: 2.25rem;
}

.fn34 {
  font-size: 2.125rem !important;
}

.fn32 {
  font-size: 2rem !important;
}

.fn30 {
  font-size: 1.85rem;
}

.fn26 {
  font-size: 1.625rem;
}

.fn24 {
  font-size: 1.5rem !important;
}

.fn21 {
  font-size: 1.3125rem;
}

.fn19 {
  font-size: 1.185rem;
}

.fn16 {
  font-size: 1rem;
}

.fn15 {
  font-size: 0.9375rem;
}

.fn14 {
  font-size: 0.875rem;
}

.fn13 {
  font-size: 0.85rem;
}

.fn12 {
  font-size: 0.75rem;
}

.fn10 {
  font-size: 0.625rem;
}

.fnWeightIcon {
  -webkit-text-stroke: 2px #e65100;
}

.fnWeightIconWhite {
  -webkit-text-stroke: 2px #fff;
}

.fnWeightIconYellow {
  -webkit-text-stroke: 1px #cfa267;
}

.fnWeightIconNormal {
  -webkit-text-stroke: 2px #57585a;
}

.lnHeight1rem {
  line-height: 1rem;
}

.colorNor {
  color: #3f3424;
}

.colorRed {
  color: #ef5350;
}

.colorRed2 {
  color: #f61c0d;
}

.colorYellow {
  color: #cfa267;
}

.colorYellow2 {
  color: #643f0e;
}

.colorBlack {
  color: #85817c;
}

.colorBlack2 {
  color: #202020;
}

.colorBrown {
  color: #3f3424;
}

.colorBrownBold {
  color: #572e09;
}

.colorWhite {
  color: white !important;
}


.colorBlue {
  color: #2c5fac;
}

.backgroundButtonBrown {
  background-color: #eee;
}

.backgroundBody {
  background-color: #f7f8f9;
}

.backgroundWhite {
  background-color: white;
}

.backgroundTransparent {
  background-color: transparent !important;
}

.backGroundMore {
  background-color: #e0d8ce;
}

.backGroundYellow {
  background-color: #cfa267 !important;
}

.backGroundYellow2 {
 background-color: #ffd631;
}

.backGroundYellow3 {
  background-color: #f8f1e8;
}

.backGroundYellow4 {
  background-color: #fffcf9;
}

.backGroundFacebook {
  background-color: #4b76bd;
}

.backgroundPost {
  background-color: #efefef;
}


.backGroundZalo {
  background-color: #1891e2;
}

.backGroundRed {
  background-color: #ef5350 !important;
}

.backgroundBlack {
  background-color: #1a1514;
}

.backGroundBLue {
  background-color: #28a8dd;
}

.padding2px {
  padding: 2px;
}
.padding35 {
  padding: 2.1875rem;
}

.padding18 {
  padding: 1.125rem;
}

.padding20 {
  padding: 1.25rem;
}

.padding15 {
  padding: 0.9375rem;
}

.padding10 {
  padding: 0.625rem;
}

.padding0-10 {
  padding: 0 0.625rem;
}

.padding0-20 {
  padding: 0 1.25rem;
}

.padding10-30-30 {
  padding: 0.625rem 1.875rem 1.875rem;
}

.padding20-30 {
   padding: 1.25rem 1.875rem;
}

.padding20-30-10 {
  padding: 1.25rem 1.875rem 0.625rem;
}

.padding20-30-0-30 {
  padding: 1.25rem 1.875rem 0 1.875rem;
}


.padding20-30-0 {
  padding: 1.25rem 1.875rem 0;
}

.padding30 {
  padding: 1.875rem;
}

.padding0-30 {
  padding: 0 1.875rem;
}

.padding30-15 {
  padding: 1.875rem 0.9375rem;
}

.padding16-30 {
  padding: 1rem 1.875rem;
}

.padding0-15 {
  padding: 0 0.9375rem !important;
}

.padding20-15-30-20 {
  padding: 1.25rem 0.9375rem 1.875rem 1.25rem;
}

.padding20-0-20-20 {
  padding: 1.25rem 0 1.25rem 1.25rem;
}

.padding20-0-0-30 {
  padding: 1.25rem 0 0 1.875rem;
}

.padding0-60 {
  padding: 0 3.75rem;
}

.mgTop-30 {
  margin-top: -1.875rem;
}
.mgTop10 {
  margin-top: 0.625rem;
}
.mgTop15 {
  margin-top: 0.9375rem !important;
}

.mgTop30 {
  margin-top: 1.875rem;
}

.mgTop100 {
  margin-top: 6.25rem;
}

.mgRight {
  margin-right: 2.0625rem;
}

.mgRight10 {
  margin-right: 0.625rem !important;
}

.mgRight15 {
  margin-right: 15px !important;
}


.mgRight20 {
  margin-right: 1.25rem !important;
}

.mgRight60 {
  margin-right: 3.75rem;
}

.mgLeft15 {
  margin-left: 0.9375rem;
}

.mgLeft5 {
  margin-left: 0.3125rem;
}

.margin15-15-10 {
  margin: 0.9375rem 0.9375rem 0.625rem;
}

.margin15 {
  margin: 0.9375rem;
}

.margin0-30 {
  margin: 0 1.875rem;
}

.padding18-12 {
  padding: 1.125rem 0.75rem;
}

.padding25-18-0-18 {
  padding: 1.5625rem 1.125rem 0 1.125rem;
}

.padding20-46-30-15 {
  padding: 1.25rem 2.875rem 1.875rem 0.9375rem;
}

.padding18-60-18-15 {
  padding: 1.125rem 3.75rem 1.125rem 0.9375rem;
}

.padding18-30 {
  padding: 1.125rem 0 1.875rem;
}

.padding15-30 {
  padding: 0.9375rem 1.875rem;
}

.padding20-72 {
  padding: 1.25rem 4.5rem;
}

.mgTop68 {
  margin-top: 4.25rem;
}

.mgBottom30 {
  margin-bottom: 1.875rem;
}

.mgTop3 {
  margin-top: 0.25rem;
}

.mg18-36 {
  margin: 1.125rem 2.25rem;
}

.mgTop2 {
  margin-top: 0.125rem;
}

.mg8-0 {
  margin: 0.5rem 0;
}

.verMiddle {
  vertical-align: middle;
}

.verTop {
  vertical-align: top;
}

.borderColor {
  border-top: 0.015625rem solid #cfa267;
}

.borderColorBold {
  border-top: 0.25rem solid #cfa267;
}


.borderRadius3 {
  border-radius: 0.1875rem;
}

.borderRadius5 {
  border-radius: 0.3125rem;
}

.borderRadius8 {
  border-radius: 0.5rem;
}

.borderRadius10 {
  border-radius: 1.625rem;
}

.borderDashed {
  border: 1px dashed #cfa267;
}

.borderDashedBrown {
  border: 1px dashed #acacac;
}

.borderRed {
  border: 2px solid #ef5350;
}

.disInLineBlock {
  display: inline-block !important;
}

.disBlock {
  display: block;
}

.padding1530 {
  padding: 0.9375rem 1.875rem;
}

.padding15-0 {
  padding: 0.9375rem 0;
}

.padding10-15 {
  padding: 0.625rem 0.9375rem;
}

.padding30-0 {
  padding: 1.875rem 0;
}

.padding20230 {
  padding: 1.25rem 0 1.875rem;
}

.padding30-50-30-20 {
  padding: 1.875rem 3.125rem 1.875rem 1.25rem !important;
}

.padding10-10-10-0 {
  padding: 0.625rem 0.625rem 0.625rem 0;
}

.padding5-10 {
  padding: 0.3125rem 0.625rem;
}

.padding30-20 {
 padding: 1.875rem 1.25rem;
}

.flex {
  display: flex !important;
  flex-wrap: wrap;
}


.itemsCenter {
  justify-content: space-between;
  align-items: center;
}

.itemsTop {
  justify-content: space-between;
}


.justCenter {
  justify-content: center;
  align-items: center;
}

.justContent {
  justify-content: center;
}

.justLeft {
  justify-content: left;
}

.width186px {
  width: 11.5rem;
}

.width116px {
  width: 7.25rem;
}

.height116px {
  height: 7.25rem;
}

.width90px {
  width: 5.625rem;
}

.width64px {
  width: 4rem;
}

.width36px {
  width: 2.25rem !important;
}

.width10per {
  width: 10%;
}

.width20per {
  width: 20%;
}

.width21per {
  width: 21%;
}

.width30per {
  width: 30%;
}

.width29per {
  width: 29%;
}

.width71per {
  width: 71%;
}

.width34per {
  width: 34%;
}

.width32per {
  width: 32%;
}

.width42per {
  width: 42%;
}

.width48per {
  width: 48% !important;
}

.width50per {
  width: 50% !important;
}

.width70per {
  width: 70%;
}

.width78per {
  width: 78%;
}


.width80per {
  width: 80%;
}

.width90per {
  width: 90%;
}

.width100per {
  width: 100%;
}

.heightHome {
  height: 35.25rem;
}

.heightBuy {
  height: 28.5rem;
}

.heightSlider {
  height: 31.25rem;
}

.heightProjectDetail {
  height: 16rem;
}

.borderBottomVideo {
  border-bottom: 5px solid #dedff3;
}

.borderBottomRed {
  border-bottom: 4px solid #ef5350;
}

.borderBottomRedHalf {
  position: absolute;
  left: 0;
  bottom: -15px;
  content: '';
  height: 4px;
  width: 3.75rem;
  background-color: #ef5350;
}

.border50per{
  border-radius: 50%;
}


.pagination {
  width: 100%;
}

.pagination ul li {
  display: inline-block;
  vertical-align: middle;
  background-color: #e0e0e0;
  color: black;
  font-size: 1.3125rem;
  padding: 0.579rem 1rem;
  cursor: pointer;
  .icon {
    font-size: 1rem;
  }
  &.active {
    background-color: #cfa267;
  }
}

::placeholder {
  color: #281c0c;
}


.input-form {
  width: 100%;
  text-align: center;
  input {
    width: 80%;
    display: inline-block;
    outline: none;
    background-color: #f0f0f0;
    padding: 1.25rem;
    font-size: 0.875rem;
    font-family: "Asap-Regular", sans-serif;
    margin: 0.3125rem 0;
    border: 1px solid #d8d8d8;
  }
  textarea {
    width: 80%;
    display: inline-block;
    outline: none;
    background-color: #f0f0f0;
    color: #281c0c;
    padding: 1.25rem;
    font-size: 1rem;
    font-family: "Asap-Regular", sans-serif;
    margin: 0.3125rem 0;
    border: 1px solid #d8d8d8;
  }
  .input-checkbox {
    width: 80%;
    display: inline-block;
    padding: 1.25rem 1.25rem 1.25rem 0;
    margin: 0.3125rem 0;
    text-align: left;
    input[type='checkbox'] {
      width: auto;
      margin-bottom: 0.625rem;
    }
  }
  button {
    width: 80%;
    padding: 1.25rem 0;
    margin: 0.3125rem 0;
    background-color: #cfa267;
    cursor: pointer;
  }
}

.button-facebook, .button-google {
  display: block;
}

.login-facebook, .login-google {
  background-color: #4b76bd;
  cursor: pointer;
  border-radius: 0.3125rem;
  padding: 1.25rem 1.25rem;
}

.login-google  {
  background-color: #ef5350;
}

.imgVerify {
  width: 5.625rem;
  height: 2.1875rem;
}

.imgVerify {}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.breadcrumbs {
  li {
    display: inline-block;
  }
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.zIndex1 {
  z-index: 1;
}

.positionRelative {
  position: relative;
}

.text-right {
  text-align: right;
}

.textUnderline {
  text-decoration: underline;
}

.dot {
  height: 0.625rem;
  width: 0.625rem;
  background-color: #e27070;
  border-radius: 50%;
  display: inline-block;
}

.borderShadow {
  -webkit-box-shadow: 0 0.3125rem #dddedf;
  -moz-box-shadow: 0 0.3125rem #dddedf;
  box-shadow: 0 0.1125rem #dddedf;
}

.borderShadowProfile {
  -webkit-box-shadow: 0 0.1125rem #d2cac1;
  -moz-box-shadow: 0 0.1125rem #d2cac1;
  box-shadow: 0 0.1125rem #d2cac1;
}

.lineHeight24px {
  line-height: 1.5rem;
}

.paddingTop25px {
  padding-top: 1.5625rem;
}

.italic {
  font-style: italic;
}




















