.widthImgAvatar {
  width: 5.875rem;
  height: 5.875rem;
}

.widthPost {
  width: 8.125rem;
}

.profile {
  .fn21 {
    @media screen and (max-width: 480px) {
      font-size: 1rem;
    }
  }
  .fn13 {
    @media screen and (max-width: 480px) {
      font-size: 0.675rem;
    }
  }
}

.borderProfile {
  border: 1px solid #d6d7d7;
}

.input-form {
  label {
    width: 80%;
    text-align: left;
    display: inline-block;
  }
  button.btn-upload {
    width: auto;
    padding: 0.9375rem 0.506rem;
    background-color: #f8f1e8;
  }
  &.change-password {
    button {
      width: auto;
      padding: 1.25rem 3.75rem;
    }
  }
  &.information {
    label {
      width: 20%;
    }
    input {
      width: 80%;
      background-color: white;
    }
    select {
      width: 80%;
      display: inline-block;
      outline: none;
      border: 1px solid #d8d8d8;
      background-color: white;
      color: #281c0c;
      padding: 1.25rem;
      font-size: 0.8125rem;
      font-family: "Asap-Regular", sans-serif;
      margin: 0.3125rem 0;
    }

    .group-address {
      input, select {
        width: 100%;
      }
    }
    .fn21 {
      @media screen and (max-width: 510px) {
        font-size: 1rem;
      }
    }
    .fn13 {
      @media screen and (max-width: 510px) {
        font-size: 0.675rem;
      }
    }

    .padding30 {
      @media screen and (max-width: 510px) {
        padding: 1rem;
      }
    }

    .created-left, .created-right {
      @media screen and (max-width: 370px) {
        width: 100%;
      }
    }

    .created-right {
      @media screen and (max-width: 370px) {
        margin-top: 1rem;
      }
    }
    .created-inner {
      select {
        width: 45%;
      }
    }
  }
}

.broker {
  .info {
    .padding20 {
      @media screen and (max-width: 528px) {
        padding: 0.65rem;
      }
    }
    .fn13 {
      @media screen and (max-width: 528px) {
        font-size: 0.675rem;
      }
    }
  }
  .swiper-slide:nth-child(1n) {
    width: 44%;
  }

  .swiper-slide:nth-child(2n) {
    width: 44%;
  }

  .swiper-container {
    margin: 1.875rem 0 0 0;
  }


  .swiper-pagination {
    position: relative;
    left: inherit;
    right: inherit;
    top: inherit;
    bottom: inherit;
  }

  .swiper-slide {
    .i {
      width: 1rem;
      height: 1rem;
    }
    span {
      width: 85%;
    }
  }
}

.span-call {
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
}

.broker-detail {
  height: 12.5rem;
  button {
    position: absolute;
    right: 5px;
    bottom: 15px;
  }
}

.post {
  .container-type {
    background-color: white;
    color: #9b9b9b;
  }
  .container-type .type-radio.active {
    color: #ef5350;
  }

  .input-form {
    label, input, select {
      width: 100%;
    }
    input, select, textarea {
      background-color: white;
    }
    textarea {
      width: 100%;
    }
  }
  .input-form button.btn-upload {
    padding: 2.075rem 2.2rem;
    margin: 0;
  }
  .select-type {
    background: url('../images/homepage/icon/arrow.png') 95% no-repeat white;
  }
  select.mgRight20 {
    @media screen and (max-width: 559px) {
      margin-right: 1rem !important;
    }
  }
  .input-form button.button-footer {
    width: auto;
    padding: 0.9375rem 1.25rem;
  }
}

.select-type.select-info {
  background: url('../images/homepage/icon/arrow_triangle.png') 97% no-repeat white;
}

.delete-image {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: white;
  padding: 5px 5px 0 5px;
}

.refesh-post {
  .block .block-left {
    width: 35%;
  }
  .block .block-right {
    width: 65%;
  }
  .block .block-right p span:first-child {
    float: inherit;
    width: auto;
  }
  .refesh {
    button {
      width: auto;
      @media screen and ( max-width: 552px ) {
        &.padding20 {
          padding: 0.75rem;
        }
        &.padding15-30 {
          padding: 0.5rem  1rem;
        }
        &.fn19 {
          font-size: 0.75rem;
        }
        &.fn16 {
          font-size: 1rem;
        }
      }
    }
  }
}

.gj-datepicker-md {
  width: 80%;
}
#datepicker1, #datepicker2 {
  width: 100%;
  font-size: 1.3125rem;
  font-family: "SFUTradeGothicBoldCondensedTwenty";
}
.gj-datepicker-md [role=right-icon] {
  right: 12px;
  top: calc(50% - 12px)  ;
}
.gj-picker {
  font-size: 1rem;
  font-family: "SFUTradeGothicBoldCondensedTwenty";
}
.gj-picker-md table tr td.selected.gj-cursor-pointer div {
  color: #202020;
  background: #eee;
  border-radius: 3px;
}

.post-inner {
  .gj-datepicker-md {
    width: 100%;
  }
}

.delete-image.positionInherit {
  position: inherit;
}
















